/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$navbar-bg: #181818;
$body-color: white;
$navbar-fg: white;
$link-color: #75AADB;
$navbar-hl: #75AADB;
$cyan: #87CEEB;

// Code blocks
$code-block-bg-alpha: -.8;